@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: gray;
    font-family: 'Press Start 2P', sans-serif;

}
h1 {
    padding: 20px;
    line-height: 50px;
    text-align: center;
    color: darkred;
}
footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#game-space {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    margin: 0px auto; /* this centers the flex container */
}
#secret-message {
    position: relative;
    text-align: center;
    top: -175px;
    display: none;
    margin: -8px;
    
}

#start-stop {
    margin: 20px 0 10px;
    font-size: 14px;
    border: 2px solid black;
    padding: 5px;
}

#start-stop:hover {
    cursor: pointer;
}

footer p{
    /* margin: 50px auto; */
    font-size: 14px;
    max-width: 400px;
    /* text-align: center; */
    float: bottom;
    justify-content: center;
    justify-self: center;
    line-height: 25px;
}

