@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

body {
    background-color: #960ADB;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 1px 1px 3px black;
    color: lightgrey;

}
#title {
    padding: 20px;
    line-height: 50px;
    /* font-size: 40px; */
    text-align: center; 
    text-shadow: 1px 1px 3px black;    
    color: #DB230A;
    
}
footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#game-space {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #650a93;
    margin: 0px auto; /* this centers the flex container */
}
#secret-message {
    position: relative;
    text-align: center;
    top: -165px;
    display: none;
    margin: -30px;
    line-height: 30px;
    color: #DB230A;
    
}

.button {
    margin: 20px 0 10px;
    font-size: 14px;
    border: 6px solid #650a93;
    border-radius: 2px;
    padding: 10px;
    background: #960ADB;
    color: lightgrey;
}

.button:hover {
    cursor: pointer;
}

#instructions {
    padding: 10px;
    margin: 2px; 
    border: 6px solid #650a93;
}

footer p{
    font-size: 14px;
    max-width: 400px;
    float: bottom;
    justify-content: center;
    justify-self: center;
    line-height: 25px;
    text-align: center;
    color: lightgrey;
}

@media screen and (max-height: 850px) {
    #title {
        font-size: 25px;
        padding: 5px;
    }
    .button {
        font-size: 10px;
    }
    footer p{
        font-size: 10px;
    }

}